<app-topbar></app-topbar>
<app-sidebar></app-sidebar>

<div class="container d-flex justify-content-center table-box">
 <!-- <form action="#" class="form" (ngSubmit)="personaldata()" style="margin-top:110px; border:2px solid black; margin-bottom:5%; width: 60%; border-radius: 15px;"> -->
    <form action="#" class="form form-border" >

    <div class="progressbar">
      <div class="progress" id="progress"></div>

      <div class="progress-step progress-step-active" data-title="Personal"></div>
      <div [routerLink]="['/languagesocial']" class="progress-step" data-title="Language & SocialMedia"></div>
      <div [routerLink]="['/education']" class="progress-step" data-title="Education"></div>
      <div [routerLink]="['/project']" class="progress-step" data-title="Project"></div>
      <div [routerLink]="['/skill']" class="progress-step" data-title="Skills"></div>
      <div [routerLink]="['/achievement']" class="progress-step" data-title="Achievements"></div>
    </div>

    <!-- Steps -->
    <div class="form-step form-step-active">
      <h3>Personal Details</h3>

      <label for="personaldetails">Profile Photo</label>
      <input type="file" (change)="fileChangeEvent($event)" name="personaldetails" id="personaldetails" placeholder="Upload your Photo"
        style="border-color: black;" />
      <label class="text-error"> {{imageError}}</label>

      <label for="personaldetails">Objective</label>
      <textarea name="objective" id="Prodes" rows="4" cols="80"
        placeholder="  Enter Objective" [(ngModel)]="personalDetails.objective" style="width: 100%; border-color: black;"></textarea>
      <br>
      <!-- <label for="personaldetails">Name</label>
      <input type="text" name="name" [(ngModel)]="user.name" id="personaldetails" placeholder="Enter your name" [(ngModel)]="user.name"
        style="border-color: black;" /> -->
      <br>
      <label for="personaldetails">Date of Birth</label>
      <input type="date" name="dob" [(ngModel)]="dob"  [ngModel]="personalDetails.dateofbirth | date:'YYYY-MM-dd'"  id="personaldetails"
         />
      <br>
      <label for="personaldetails">Nationality</label>
      <input type="text" id="personaldetails" name="nationality" [(ngModel)]="personalDetails.nationality"
        placeholder="Enter your nationality" />
      

      <br>


      <label for="personaldetails">Date of Joining</label>
      <input type="date" name="dateofJoining" [(ngModel)]="doj" [ngModel]="personalDetails.dateofjoining | date:'YYYY-MM-dd'" id="personaldetails"
        style="border-color: black;" />
      <br>
      </div>




      


      <div class="row">
        <a [routerLink]="['/viewprofile']" (click)="updatePersonal()" class="btn btn-next width-50 ml-auto">Save as
          Draft</a>
        <a  [routerLink]="['/languagesocial']" (click)="updatePersonal()" class="btn btn-next width-50 ml-auto">Next</a>
      </div>
    <br><br>
  </form>
</div>